{{>header}}
<form class="bg0 p-t-75 p-b-85">
    <div class="container text-center text-dark" style="padding-bottom:90px">
        <h1 style="padding-bottom:15px;">Thanks for using services.!</h1>
        <h3 style="padding-bottom:15px;">We will make your request as soon as possible.</h3>
        <div class="row text-center" style="padding-top:20px">
            <div class="col-3"></div>
            <div class="col-3" style="text-align: right">
                <a href="/" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                    <h5>Come back Home page</h5>
                </a>
            </div>
            <div style="text-align:left" class="col-3">
                <a href="/product/1" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                    <h5>Continue Shopping</h5>
                </a>
            </div>
        </div>
    </div>
</form>
{{>footer}}